<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Application Personal Details Form</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-md bg-dark py-3 fixed-top">
        <a class="navbar-brand text-danger " href="#"><strong>Vehicle Loan</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> &nbsp; &nbsp; &nbsp; &nbsp; 
      
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active ">
              <a class="text-white" routerLink="/Home"> <strong>Home</strong> <span class="sr-only">(current)</span></a>
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="text-white" href="#"><strong>About Us</strong> <span class="sr-only">(current)</span></a>
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="text-white" routerLink="/Emicalc"> <strong>EMI Calculator</strong> <span class="sr-only">(current)</span></a>
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="text-white" routerLink="/ApplyLoan"><strong>Apply Loan</strong> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="text-white" routerLink="/Login"> <strong>Login</strong> <span class="sr-only">(current)</span></a>
            </li>
          </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          <ul class="nav navbar-nav ">
            <li class="nav-item active">
              <a class="text-white" routerLink="/Register"> <strong>Register </strong><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        </nav> <br><br><br><br>
      <div><h3>PERSONAL DETAILS</h3></div>
      <br>
      
  <div  class="container">
  <div class="jumbotron">
  <form [formGroup]="userForm" (ngSubmit)="post_api(userForm.value)">

    <div class="form-group">
      <label for="inputName"><b>FULL NAME</b></label>
      <input type="text" style="width:40%" class="form-control" id="uname" name="uname" formControlName="uname" placeholder="Enter Full Name">
      <span class="error" *ngIf="userForm.controls.uname.invalid && (userForm.controls.uname.touched && userForm.controls.uname.dirty)"> Type a valid name </span>
    </div>

    <div class="form-group">
      <label for="inputAge"><b>AGE</b></label>
      <input type="number" style="width:40%" class="form-control" id="uage" name="uage" formControlName="uage" placeholder="Enter uage">
      <span class="error" *ngIf="userForm.controls.uage.invalid && (userForm.controls.uage.touched && userForm.controls.uage.dirty)"> Type a valid name </span>
    </div>

    <!-- EMAIL SUBMISSION -->

    <div class="form-group">
      <label for="inputEmail"><b>EMAIL ADDRESS</b></label>
      <input type="email" style="width:40%" class="form-control" id="uemail" name="uemail" formControlName="uemail" aria-describedby="emailHelp" placeholder="Enter email">
      <span class="error" *ngIf="userForm.controls.uemail.invalid && (userForm.controls.uemail.touched && userForm.controls.uemail.dirty)"> Type a valid Email ID </span>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <!-- PASSWORD -->

    <div class="form-group">
      <label for="inputPassword"><b>PASSWORD</b></label>
      <input type="password" style="width:40%" class="form-control" id="upassword" name="upassword" formControlName="upassword" placeholder="Enter Password">
      <span class="error" *ngIf="userForm.controls.upassword.invalid && (userForm.controls.upassword.touched && userForm.controls.upassword.dirty)"> Type a valid password </span>
    </div>

    <!-- DROPDOWN SELECT -->

    <div class="form-group">
      <label for="inputGender"><b>GENDER</b></label>
      <select class="form-control" id="ugender" name="ugender" formControlName="ugender">
        <option *ngFor = "let g of ugender">{{g}}</option>
      </select>
    </div>


    <!-- MULTIPLE SELECT OPTIONS -->

    <div class="form-group">
      <label for="inputMobile"><b>MOBILE NUMBER</b></label>
      <input type="text" style="width:40%" class="form-control" id="umobile" name="umobile" formControlName="umobile" placeholder="Enter Mobile No.">
      <span class="error" *ngIf="userForm.controls.umobile.invalid && (userForm.controls.umobile.touched && userForm.controls.umobile.dirty)"> Type a valid 10 digit mobile no  </span>
    </div>



    <!-- TEXT AREA -->

    <div class="form-group">
      <label for="inputState"><b>STATE</b></label>
      <input type="text" style="width:40%" class="form-control" id="ustate" name="ustate" formControlName="ustate" placeholder="Enter State name">
      <span class="error" *ngIf="userForm.controls.ustate.invalid && (userForm.controls.ustate.touched && userForm.controls.ustate.dirty)"> Type a valid state name  </span>
    </div>

    <div class="form-group">
      <label for="inputCity"><b>CITY</b></label>
      <input type="text" style="width:40%" class="form-control" id="ucity" name="ucity" formControlName="ucity" placeholder="Enter City name">
      <span class="error" *ngIf="userForm.controls.ucity.invalid && (userForm.controls.ucity.touched && userForm.controls.ucity.dirty)"> Type a valid city name  </span>
    </div>

    <div class="form-group">
      <label for="inputPin"><b>PINCODE</b></label>
      <input type="number" class="form-control"  id="upin" name="upin" formControlName="upin" placeholder="Enter Pincode">
    </div>

    <div class="form-group">
      <label for="inputAddress"><b>ADDRESS</b></label>
      <input type="text" class="form-control" id="uaddress" name="uaddress" formControlName="uaddress" rows="3">
    </div><br>

  <!-- CHECK BUTTON -->

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="tick" name="tick" formControlName="tick">
        I hereby declare everything mentioned above is true.
      </label>
    </div><br>


    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">SUBMIT</button>


</form>
</div>
</div>
</div>
<footer class="pt-3 bg-dark text-white" style="padding: 25px 20px;">
  <ul class="nav m-0">
  <span style="color:white"> &nbsp; &nbsp; Copyright © 2021 
    <a class= "text-white" href="#">* VLS *</a></span>
  <li class="nav-item ml-auto">
    <a class="text-white "  aria-current="puage" href="#">Privacy Policy</a>
  </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <li class="nav-item">
    <a class="text-white" href="#">Terms and conditions</a>
  </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <li class="nav-item">
    <a class="text-white"   href="#">Contact</a>
  </li>
</ul>

</footer>

  </body>
</html>
