!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Terms & Conditions</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-md bg-dark py-3 fixed-top">
            <a class="navbar-brand text-danger " href="#"><strong>VEHICLE LOAN</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> &nbsp; &nbsp; &nbsp; &nbsp; 
          
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active ">
                  <a class="text-white" routerLink="/Home"> <strong>Home</strong> <span class="sr-only">(current)</span></a>
                </li>
              </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="text-white" routerLink="/Aboutus"><strong>About Us</strong> <span class="sr-only">(current)</span></a>
                </li>
              </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="text-white" routerLink="/Emicalc"> <strong>EMI Calculator</strong> <span class="sr-only">(current)</span></a>
                </li>
              </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="text-white" routerLink="/ApplyLoan"><strong>Apply Loan</strong> <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="text-white" routerLink="/Login"> <strong>Login</strong> <span class="sr-only">(current)</span></a>
                  
                </li>
              </ul> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              <ul class="nav navbar-nav ">
                <li class="nav-item active">
                  <a class="text-white" routerLink="/Register"> <strong>Register </strong><span class="sr-only">(current)</span></a>
                </li>
              </ul>
              
            </div>
            </nav> <br><br><br><br>
		
		<div class="container">
			<div  class="jumbotron">
            <h3 class="display-5 text-center" style="text-decoration:underline;"><b>TERMS & CONDITIONS</b></h3>
			</div>
			<p>
			The use of any product, service or feature (the “Materials”) available through the internet websites accessible at VLS.in 
			(collectively, the “Website”) by any user of the Website (“You” ) shall be governed by the following terms of use: <br><br>
			<b>-></b> This Website is provided by VLS, a company having its registered office in India and shall be used for informational 
			   purposes only. By using the Website or downloading Materials from the Website, You hereby agree to abide by the 
			   terms and conditions set forth in this Terms of Use. <br><br>
			<b>-></b> In the event of You not agreeing to these terms and conditions, You are requested by VLS not to use the Website or 
			   download Materials from the Website. This Website, including all Materials present (excluding any applicable third party 
			   materials), is the property of VLS and is copyrighted and protected by worldwide copyright laws and treaty provisions.<br><br> 
			<b>-></b> You hereby agree to comply with all copyright laws worldwide in Your use of this Website and to prevent any unauthorised 
			   copying of the Materials. VLS does not grant any express or implied rights under any patents, trademarks, copyrights or 
			   trade secret information.<br><br> 
			<b>-></b> VLS has business relationships with thousands of customers, suppliers, governments, and others. For convenience and 
			   simplicity, words like joint venture, partnership, and partner are used to indicate business relationships involving 
			   common activities and interests, and those words may not indicate precise legal relationships.
			</p><br>
			
			<h6 style="text-decoration:underline;">LIMITED LICENSE :</h6><br>
			<p>
			Subject to the terms and conditions set forth in these Terms of Use, VLS grants You a non-exclusive, non-transferable, 
			limited right to access, use and display this Website and the Materials thereon. You agree not to interrupt or attempt to 
			interrupt the operation of the Website in any manner. Unless otherwise specified, the Website is for Your personal and 
			non-commercial use. You shall not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, 
			createderivative works from, transfer, or sell any information, software, products orservices obtained from this Website.
			</p><br>
			
			<h6 style="text-decoration:underline;">WARRANTIES :</h6><br>
			<p>
			This website, the information and materials on the site, and any software made available on the Website, are provided 
			“as is” without any representation or warranty, express or implied, of any kind, including, but not limited to, 
			warranties of merchantability, non-infringement, or fitness for any particular purpose. There is no warranty of any kind, 
			express or implied, regarding third party content. In spite of VLS’ best endeavours, there is no warranty on behalf 
			of VLS that this Website will be free of any computer viruses. Some jurisdictions do not allow for the exclusion 
			of implied warranties, so the above exclusions may not apply to you.
			</p><br>
			
			<h6 style="text-decoration:underline;">DISCLAIMER :</h6><br>
			<p>
			The website may contain inaccuracies and typographical and clerical errors. VLS expressly disclaims any obligation(s) 
			to update this website or any of the materials on this website. VLS does not warrant the accuracy or completeness of 
			the materials or the reliability of any advice, opinion, statement or other information displayed or distributed through 
			the Website. You acknowledge that any reliance on any such opinion, advice, statement, memorandum, or information shall 
			be at your sole risk. VLS reserves the right, in its sole discretion, to correct any errors or omissions in any 
			portion of the Website. VLS may make any other changes to the Website, the materials and the products, programs, 
			services or prices (if any) described in the Website at any time without notice. This Website is for informational 
			purposes only and should not be construed as technical advice of any manner.
			</p><br><br>
			</div>
			</div>
		
            <footer class="pt-3 bg-dark text-white" style="padding: 25px 20px;">
                <ul class="nav m-0">
                <span style="color:white"> &nbsp; &nbsp; Copyright © 2021 
                  <a class= "text-white" routerLink="/Home">* VLS *</a></span>
                <li class="nav-item ml-auto">
                  <a class="text-white "  aria-current="page" routerLink="/Privacy">Privacy Policy</a>
                </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <li class="nav-item">
                  <a class="text-white" routerLink="/Terms&Conditions">Terms and conditions</a>
                </li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <li class="nav-item">
                  <a class="text-white" routerLink="/ContactUs">Contact</a>
                </li>
              </ul>
              
          </footer>